<h1>List of Products </h1>
<p>Here we are going to display our products</p>
<form action="#">
    <div class="form-group">
      <label for="title">Product Name</label>
      <input [(ngModel)]="name" placeholder="Add product name" class="input">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <input [(ngModel)]="description" placeholder="Add product description" class="input">
    </div>
    <div class="form-group">
        <label for="price">Price:</label>
        <input [(ngModel)]="price" placeholder="Add product price" class="input">
      </div>
   <button class="button is-success" (click)="createProduct()" [disabled]="name?.length < 2 || name?.length > 50 && [disabled]="description?.length < 5 || description?.length > 100">
  Add Product
</button>
  </form>

  <hr>
<div *ngFor="let product of products | async">
  <product-detail [product]="product"></product-detail>
</div>


