<h1>List of Products </h1>
<p>Here we are going to display our products</p>

    <div class="form-group">
      <label for="name">Product Name</label> 
      <input placeholder="Add product name" class="input" id="name" [(ngModel)]="name">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <input placeholder="Add product description" class="input" id="description" [(ngModel)]="description">
    </div>
    <div class="form-group">
        <label for="price">Price:</label>
        <input placeholder="Add product price" class="input" id="price" [(ngModel)]="price" >
      </div>
   <button class="button is-success" (click)="createProduct()" [disabled]="name?.length < 2 || name?.length > 50>
  Add Product
</button>

  <hr>
<div *ngFor="let product of products | async">
  <product-detail [product]="product"></product-detail>
</div>


